In [25]:

import kagglehub
davidms8_detailed_shopping_by_product_supermarket_path = kagglehub.dataset_download('davidms8/detailed-shopping-by-product-supermarket')

print('Data source import complete.')

Using Colab cache for faster access to the 'detailed-shopping-by-product-supermarket' dataset.
Data source import complete.

## Data Cleaning

In [26]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [12]:
df = pd.read_excel('/kaggle/input/detailed-shopping-by-product-supermarket/Compras2022.xlsx')
df.head()

,proveedor,fecha,tipo,numero,bodega,producto,descripcion,cant,unidad,vlrunit,total_siniva,iva_tasa,valor_iva,cuenta,precio_actual,precio_nuevo,saldo_actual,margen_bruto
0,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,7704987009249,TINTE IRIS,12.0,UND,1716,20588,19,3912,14351601,2800.0,0.0,4.0,0
1,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,5210,CANDELA CON EXTENSOR,25.0,UND,2286,57143,19,10857,14351601,4000.0,0.0,688.0,0
2,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,7453088046287,SUPER GLUE *10G,12.0,UND,575,6900,0,0,14350101,900.0,0.0,133.0,0
3,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,6984240170102,CINTA NEGRA AISLANTE,10.0,UND,886,8858,0,0,14350101,1200.0,0.0,3.0,0
4,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,6946614108821,PEGANTE SMATPEGA *5GR,12.0,UND,263,3156,19,600,14351601,500.0,0.0,7.0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16383 entries, 0 to 16382
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   proveedor      16383 non-null  object
 1   fecha          16383 non-null  datetime64[ns]
 2   tipo           16383 non-null  object
 3   numero         16383 non-null  int64
 4   bodega         16383 non-null  object
 5   producto       16383 non-null  object
 6   descripcion    16383 non-null  object
 7   cant           16383 non-null  float64
 8   unidad         16383 non-null  object
 9   vlrunit        16383 non-null  int64
 10  total_siniva   16383 non-null  int64
 11  iva_tasa       16383 non-null  int64
 12  valor_iva      16383 non-null  int64
 13  cuenta         16383 non-null  int64
 14  precio_actual  16378 non-null  float64
 15  precio_nuevo   16378 non-null  float64
 16  saldo_actual   15810 non-null  float64
 17  margen_bruto   16383 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(7), object(6)
memory usage: 2.2+ MB

##### The data shape is (16383, 18)

In [27]:
df.isna().sum(), df.isnull().sum()

(Supplier name        0
 Date of purchase     0
 type                 0
 number               0
 store                0
 product              0
 description          0
 amount               0
 unit                 0
 vlr unit             0
 total without VAT    0
 vat_rate             0
 vat_value            0
 Total with VAT       0
 account              0
 Actual_Price         0
 current balance      0
 gross margin         0
 dtype: int64,
 Supplier name        0
 Date of purchase     0
 type                 0
 number               0
 store                0
 product              0
 description          0
 amount               0
 unit                 0
 vlr unit             0
 total without VAT    0
 vat_rate             0
 vat_value            0
 Total with VAT       0
 account              0
 Actual_Price         0
 current balance      0
 gross margin         0
 dtype: int64)

#### Neste caso, temos o mesmo valor nos dados Nan e null, então vamos descartar os dados Nan juntamente com os dados null.

In [ ]:
# Drop data Nan
df.dropna(inplace = True)

### Nas informações de dados, vemos o tipo de cada dado; portanto, verificaremos o número de dados únicos do tipo objeto.

In [14]:
df.columns.unique()

Index(['proveedor', 'fecha', 'tipo', 'numero', 'bodega', 'producto',
       'descripcion', 'cant', 'unidad', 'vlrunit', 'total_siniva', 'iva_tasa',
       'valor_iva', 'cuenta', 'precio_actual', 'precio_nuevo', 'saldo_actual',
       'margen_bruto'],
      dtype='object')

In [15]:
df = df.rename(columns = {'proveedor' : 'Supplier name', 'fecha' : 'Date of purchase', 'tipo' : 'type', 'numero' : 'number', 'bodega' : 'store', 'producto' : 'product',
       'descripcion' : 'description', 'cant' : 'amount', 'unidad' : 'unit', 'vlrunit' : 'vlr unit', 'total_siniva' : 'total without VAT', 'iva_tasa' : 'vat_rate',
       'valor_iva' : 'vat_value', 'cuenta' : 'account', 'precio_actual' : 'Actual Price', 'precio_nuevo': 'new_price', 'saldo_actual' : 'current balance',
       'margen_bruto' : 'gross margin'})

df

,Supplier name,Date of purchase,type,number,store,product,description,amount,unit,vlr unit,total without VAT,vat_rate,vat_value,account,Actual Price,new_price,current balance,gross margin
0,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,7704987009249,TINTE IRIS,12.0,UND,1716,20588,19,3912,14351601,2800.0,0.0,4.0,0
1,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,5210,CANDELA CON EXTENSOR,25.0,UND,2286,57143,19,10857,14351601,4000.0,0.0,688.0,0
2,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,7453088046287,SUPER GLUE *10G,12.0,UND,575,6900,0,0,14350101,900.0,0.0,133.0,0
3,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,6984240170102,CINTA NEGRA AISLANTE,10.0,UND,886,8858,0,0,14350101,1200.0,0.0,3.0,0
4,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,6946614108821,PEGANTE SMATPEGA *5GR,12.0,UND,263,3156,19,600,14351601,500.0,0.0,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16378,DISTRIBUIDORA SERVIVALLE S.A.S.,2022-04-21,FC,70346,1,7702191000014,DETERGENTE FAB *4KL,9.0,UND,23120,208082,19,39536,14351601,39000.0,0.0,1960.0,0
16379,DISTRIBUIDORA SERVIVALLE S.A.S.,2022-04-21,FC,70346,1,7702354030797,GEL EGO EXTREME MAX 110G,12.0,UND,1758,21096,19,4008,14351601,3000.0,0.0,196.0,0
16380,DISTRIBUIDORA SERVIVALLE S.A.S.,2022-04-21,FC,70346,1,7702047038406,CALDO KNORR DESM GALLINA *12UND,12.0,UND,2207,26481,19,5031,14351601,5500.0,0.0,982.0,0
16381,DISTRIBUIDORA SERVIVALLE S.A.S.,2022-04-21,FC,70346,1,7702047038123,SALSA DE TOMATE FRUCO *1000 G,5.0,UND,9876,49378,19,9382,14351601,18500.0,0.0,969.0,0
16382,DISTRIBUIDORA SERVIVALLE S.A.S.,2022-04-21,FC,70346,1,7702047041239,SALSA ROSADA FRUCO *85G,24.0,UND,928,22283,19,4234,14351601,1200.0,0.0,-57.0,0

In [16]:
Supplier_name = df['Supplier name'].nunique()
type          = df['type'].nunique()
store         = df['store'].nunique()
product       = df['product'].nunique()
description   = df['description'].nunique()
unit          = df['unit'].nunique()
account       = df['account'].nunique()

In [17]:
print(f' Supplier_name : {Supplier_name} \n',
      f'type          : {type}\n',
      f'store         : {store}\n',
      f'product       : {product}\n',
      f'description   : {description}\n',
      f'unit          : {unit}\n',
      f'account       : {account}\n')

 Supplier_name : 21
 type          : 3
 store         : 2
 product       : 3836
 description   : 3830
 unit          : 19
 account       : 5

#### For the small number unique, we will transform it to integer

### Check the data unique each column

In [19]:
type          = df['type'].unique()
store         = df['store'].unique()
account       = df['account'].unique()

In [20]:
print(f' type          : {type}\n',
      f'store         : {store}\n',
      f'account       : {account}\n')

 type          : ['FC' 'MR' 'RM']
 store         : [1 '.']
 account       : [14351601 14350101 14350501 14353001 14353010]

In [21]:
# Transform data to integer
df['type'] = df['type'].replace(['FC', 'MR', 'RM'], ['1', '2', '3'])
df['account'] = df['account'].replace([14351601, 14350101, 14350501, 14353001, 14353010], [1, 2, 3, 4, 5])



```
# Isto está formatado como código
```

#### Podemos ver que a coluna `product` contém dados em `int`, mas o tipo de dados é `object`, então vamos alterá-lo para `int64`.

But we have the problem in change the type of data, in column product we have the data not in integer instead some data in string object so we will drop all the string data

In [22]:
# Change all data string to Nan and drop it
df['product'] = df['product'].apply(lambda x: np.nan if isinstance(x, str) else x).dropna()
df.dropna(inplace = True)

In [23]:
# Change the data type
df['type'] = df['type'].astype('int64')
df['account'] = df['account'].astype('int64')
df['store'] = df['store'].astype('int64')
df['product'] = df['product'].astype('int64')

Na tabela temos uma coluna com 'preço atual' e uma coluna com 'novo preço'.
Então, vou criar uma nova coluna com 'Preço_Atual'.

In [24]:
df.insert(15, 'Actual_Price', df.apply(lambda row: row['new_price'] if row['new_price'] != 0 else row['Actual Price'], axis=1))
df.drop(['Actual Price', 'new_price'], axis = 1, inplace = True)

df.insert(13, 'Total with VAT', df.apply(lambda x: x['total without VAT'] if x['vat_value'] == 0 else x['total without VAT'] - x['vat_value'], axis=1))

In [ ]:
# Save the change
df.to_csv('/kaggle/working/shopping-by-product_Clean.csv',index=False)